.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(0, 14, 38);
  background: linear-gradient(
    0deg,
    rgba(0, 14, 38, 1) 22%,
    rgba(0, 18, 51, 1) 42%,
    rgba(0, 40, 85, 1) 100%
  );
  color: #f8f7f4;
  /* border-bottom: 1px solid #ccc; */
}

.bold-text {
  font-weight: bold;
}

.list {
  font-size: 1.3rem;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.list:hover {
  cursor: pointer;
}

.list_elem {
  padding: 5px 10px;
}

.list_elem a {
  color: #f8f7f4;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list_elem a.active {
  color: #7d8597;
}

.list_elem:hover a {
  color: #0466c8;
}

#logo {
  color: #f8f7f4;
  font-size: 2rem;
}

#logo a {
  color: #f8f7f4;
  text-decoration: none;
}
