.main-body {
  display: flex;
  flex-direction: column;
  background: rgba(0, 40, 85, 1);
}

.introduction {
  margin: 0;
  padding: 2.5em 6em;
  background: rgb(0, 14, 38);
  background: linear-gradient(
    180deg,
    rgba(0, 14, 38, 1) 22%,
    rgba(0, 18, 51, 1) 42%,
    rgba(0, 40, 85, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  font-size: 3.2em;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 2.5rem;
}

.intro {
  margin-top: 1.5em;
  padding-left: 5rem;
  padding-right: 5.5rem;
}

.intro-text {
  color: #fafafa;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
}

.tag {
  width: 70%;
}

#heading {
  width: 30%;
  font-size: 5.5em;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5rem;
  line-height: 1.1;
  color: #fafafa;
}

#tagline {
  width: 70%;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 1em;
  color: #979dac;
}

.image {
  width: 30%;
  height: 25rem;
  padding: 2em;
  overflow: hidden;
  margin-right: 2rem;
}

.image img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 18px;
  filter: hue-rotate(-30deg) brightness(0.7);
  box-shadow: 4px 4px 10px 3px rgba(0, 14, 38, 0.9);
  transition: filter 0.3s;
  opacity: 0.7;
}

.image img:hover {
  filter: brightness(1);
}

.details-wrapper {
  background: rgb(0, 14, 38);
  background: linear-gradient(
    0deg,
    rgba(0, 14, 38, 1) 22%,
    rgba(0, 18, 51, 1) 42%,
    rgba(0, 40, 85, 1) 80%
  );
}

.details {
  padding: 2.5em 4em;
  background: rgb(21, 70, 157);
  background: -moz-radial-gradient(
    circle,
    rgba(21, 70, 157, 1) 17%,
    rgba(11, 43, 105, 1) 56%,
    rgba(0, 39, 78, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(21, 70, 157, 1) 17%,
    rgba(11, 43, 105, 1) 56%,
    rgba(0, 39, 78, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(21, 70, 157, 1) 17%,
    rgba(11, 43, 105, 1) 56%,
    rgba(0, 39, 78, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15469d",endColorstr="#00274e",GradientType=1);
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(20px);
  margin: 3rem 2.8rem;
  box-shadow: 0px 0px 10px 3px rgba(4, 102, 200, 0.3);
  margin-bottom: 5rem;
}

#details-heading {
  font-size: 3.4em;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 0;
}

#details-description {
  color: #c0c0c0;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.8;
}

.learn {
  padding: 5rem 3rem;
  backdrop-filter: saturate(80%) blur(5px);
  margin: auto;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.learn-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 4rem;
}

.learn-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  color: #fafafa;
}

.learn-buttons > a {
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #0466c8;
  border-radius: 5px;
  color: #182840;
  border: 1px solid #979dac;
}

.learn-buttons > a:hover {
  background: #979dac;
  border: 1px solid white;
}

.sections {
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../assets/card-backdound.jpg);
  background-size: cover;
  background-position: center;
  min-width: 100%;
}

.sections-heading {
  margin: auto;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
