#heading {
  width: 30%;
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 1.1;
  color: #fafafa;
}
#tagline {
  width: 70%;
  font-size: 2em;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 1em;
  color: #979dac;
}
