@import "@fortawesome/fontawesome-free/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html,
.body {
  background: rgba(0, 16, 38, 1);
}

.app {
  background: rgba(0, 40, 85, 1);
}

.header {
  display: flex;
  flex-direction: column;
}

.loader {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loader.hidden {
  opacity: 0;
  pointer-events: none; /* Optional: Disable interactions with the loader */
}
