@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fafafa;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #002855; /* Light blue for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #979dac; /* Dark blue for the thumb */
  border-radius: 10px;
  border: 2px solid #0353a4; /* Light blue border to match the track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* Bright blue on hover */
}

:-webkit-scrollbar-button {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: 20px;
  scrollbar-color: #979dac #002855; /* Dark blue thumb, light blue track */
}
